<div class="formRow" id="contenedor">
    <ul>
        <% for (cnt in llistaId) {__append("<p>"+llistaNom[cnt]+" <a href='/edit?id="+llistaId[cnt]+"'>Edit</a></p>")
            }
            %>
    </ul>
</div>