<!DOCTYPE html>
<!--Aquest arxiu rep informació d'una nau en un objecte amb els paràmetres:
nom, any, pais, descripció-->

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- A la capçalera no li fa falta cap informació, passem un objecte buit -->
        <%- include('../partials/head', {}); %>
        <title>Item</title>
    </head>
    <body>
        <!-- Al parcial de 'itemBody' li fa falta la informació que hem rebut -->
        <%- include('../partials/itemBody', { infoNau: infoNau }); %>
    </body>
</html>