<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../partials/head', {}); %>
        <title>Productes</title>
</head>

<body>
    <%- include('../partials/itemBody', { infoProd: infoProd }); %>
</body>

</html>